// COLORS

$primary-cyan-600: hsl(185, 75%, 39%);
$primary-desaturated-blue-800: hsl(229, 23%, 23%);
$primary-grayish-blue-500: hsl(227, 10%, 46%);

$neutral-gray-400: hsla(0, 0%, 59%, 0.3);
$neutral-100: hsl(0, 0%, 100%);

// TYPOGRAPHY

$fs-default: 1.125rem;
$fw-regular: 400;
$fw-bold: 700;
