body {
	font-family: "Kumbh Sans";
	font-weight: $fw-regular;
	font-size: $fs-default;
	color: $primary-grayish-blue-500;
}

main {
	background-color: $primary-cyan-600;
	display: grid;
	place-content: center;
	min-height: 100vh;
	position: relative;

	.main__bg-top {
		position: absolute;
		top: -10rem;
		left: -8rem;
	}

	.main__bg-bottom {
		position: absolute;
		bottom: -10rem;
		right: -8rem;
	}

	@media (min-width: 23rem) {
		.main__bg-top {
			position: absolute;
			top: -35rem;
			left: -20rem;
		}

		.main__bg-bottom {
			position: absolute;
			bottom: -35rem;
			right: -20rem;
		}
	}
}
